@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --white: #fff;
  --black: #000;
  --primary-color: #1c1e53;
  --secondary-color: #fcd980;
  --text-color: #282938;
}
a {
  text-decoration: none;
}
/* header start */
.header {
  background-color: #1c1e53;
  margin-bottom: 50px;
}
.header__info {
  padding: 126px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  margin-bottom: 24px;
}
.header__text {
  max-width: 562px;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 48px;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__btn2 {
  padding: 16px 56px;
  border-radius: 41px;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}
.header__btn {
  color: var(--white);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
.header__img {
  max-width: 638px;
}
/* header end */

/* main start */
.main {
  background-color: var(--white);
}
#projects {
  padding: 57px 0px 128px;
}
.project__info {
  display: flex;
  gap: 32px;
}
.project__card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
  transition: all 500ms;
}
.project__left {
  max-width: 400px;
  padding: 70px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--primary-color);
  height: 100%;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  left: -100%;
  transition: all 500ms;
}
.left__title {
  max-width: 313px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  opacity: 1;
  color: var(--white);
  margin-bottom: 16px;
}
.left__text {
  max-width: 293px;
  margin-bottom: 40px;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 1;
}
.left__link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--secondary-color);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.project__card:hover .project__left {
  left: 0;
}
.card__images {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
  transition: all 500ms;
}
.card__images2 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
  transition: all 500ms;
  margin-bottom: 16px;
}
.card__left {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--primary-color);
  height: 100%;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  left: -100%;
  transition: all 500ms;
}
.project__card:hover .card__left {
  left: 0;
}
.card__left__title {
  max-width: 313px;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px; 
  opacity: 1;
}
.card__images:hover .card__left {
  left: 0;
}
.project__card2{
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.project__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__img1 {
  max-width: 843px;
}
.project__img2 {
  max-width: 405px;
}
.project__title {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
.project__btn {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
#features {
  padding: 128px;
  background-color: #f4f6fc;
}
.center {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.center__min {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.center__title {
  max-width: 630px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
.features__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.features__card {
  max-width: 404px;
  padding: 40px 30px;
  background-color: var(--white);
}
.features__title {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-top: 25px;
}
.features__text {
  max-width: 324px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.features__icon {
  font-size: 35px;
  color: #2405f2;
}
/* media start */
@media (max-width: 1400px) {
  .project__info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .header__info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
  }
  .header__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  .project__img1,
  .project__img2 {
    width: 100%;
  }
  #features {
    padding: 0;
  }
  .features__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .project__top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 660px) {
  .header__img {
    width: 100%;
  }
  .header__title {
    font-size: 40px;
    line-height: 50px;
  }
  .features__card {
    text-align: center;
  }
}
@media (max-width: 450px) {
  .header__buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project__top {
    text-align: center;
  }
}
